.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
}

.title {
    font-family: "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
    font-weight: bold;
    font-size: 31.5px;
    line-height: 41px;
    background-image: linear-gradient(to right, #9333ea, #2563eb);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
}

.subtitle {
    font-family: "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
    font-size: 14px;
    line-height: 21px;
    color: var(--color-gray-600);
    margin: 0;
    margin-top: 7px;
}

.headerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px;
}

.desktopButton {
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 30;
}

@media (max-width: 768px) {
    .headerContainer {
        padding: 12px 16px;
    }
    
    .header {
        padding: 12px;
    }
    
    .title {
        font-size: 32px;
        line-height: 40px;
    }
    
    .subtitle {
        font-size: 16px;
        line-height: 22px;
        margin-top: 8px;
    }
    
    .desktopButton {
        display: none;
    }
}
